.roundPopup{
    width: 400px;
    & h3{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border : 3px solid black;
        background-color: #96b0c1;
        border-radius: 20px 20px 0 0;
        margin-bottom: -3px;
        margin-top: 0;
        text-transform: uppercase;
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        & .circle{
            display: inline-block;
            background-color: #6b7886;
            width: 15px;
            height: 15px;
            border: 3px solid black;
            border-radius: 70%;
        }
    }
    &__cards{
        background-color: white;
        border : 3px solid black;
        border-radius: 0 0 20px 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        & span{
            margin-left: 20px;
        }
        & h4{
            text-indent: 30px;
            margin-top: 0;
            margin-bottom: 14px;
            & label:hover{
                cursor: zoom-in;
            }
            & i:before{
                font-size: 12px;
                //color: white;
                //background-color: #6b7890;
                //border: 1px solid black;
                //width: 15px;
                //height: 15px;
                //border-radius: 70%;
            }
        }
        &__card{
            display: none;
            padding-left: 20px;
            width: 90%;
            & ul{
                margin-top: 0;
            }
        }
        & input[type=checkbox] {
            display: none;
        }
        & input[type=checkbox]:checked + div{
            display: flex;
        }
    }
}