.navigate {
    @media (max-width: 900px) {
        display: none;
        
    }
    margin-top: 0;
    margin-bottom: 30px;
    & ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type:none;
    }
    & a, & a:visited {
        color: white;
        text-decoration: none;
    }
}
