.projects{
    margin-left: 40px;
    min-height: 770px;
    & h2{
        margin-left: 100px;
    }
    &__all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        &__card{
            width: 350px;
            height: 350px;
        }
    }
}