.footer{
    box-shadow: 0 -5px 0 0 silver;
    & h2{
        text-indent: 120px;
    }
    &__information{
        margin-left: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        & span{
            font-weight: bold;
        }
        & a{
            color: black;
            text-decoration: none;
        }
        & a:visited{
            color: black;
        }
    }
}